body {
    background-color: black;
    font-family: "Kalam";
}

img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
}

#head-container {
    display: flex;
    justify-content: center;
    color: white;
}

#head-container h1 {
    color: white;
    font-size: 50px;
}

#submit-btn {
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    border-width: 2px;
    transition: border-color 1000ms;
    outline: none;
}

#user-input-container {
    display: flex;
    justify-content: center;
    gap: 7px;
}

#user-input {
    width: 80%;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    border-width: 2px;
    transition: border-color 1000ms;
    outline: none;
    padding-left: 30px;
    font-family: "Kalam";
}

#user-input::placeholder {
    font-family: "Kalam";
}

#btn-container {
    flex-direction: row;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#like-btn-container {
    margin: 0 15px;
}

#dislike-btn-container {
    margin: 0 15px;
}

.like-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.like-btn:hover {
    outline: auto;
}

.dislike-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.dislike-btn:hover {
    outline: auto;
}

#full-output {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #full-output {
        flex-direction: column;
    }
}

#full-output button {
    border-radius: 50%;
    border: none;
    background-color: black;
}

#output-container1 {
    display: flex;
    justify-content: center;
}

#output-container2 {
    display: flex;
    justify-content: center;
}

#output-container3 {
    display: flex;
    justify-content: center;
}

#output1 {
    color: white;
    display: flex;
    flex-direction: column;
}

#output2 {
    color: white;
    display: flex;
    flex-direction: column;
}

#output3 {
    color: white;
    display: flex;
    flex-direction: column;
}

.output-chunk {
    gap: 50px;
    margin: 30px;
}

#finish-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#finish-btn {
    width: 70px;
    height: 40px;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
}

#loading-circle-container {
    display: none;
    align-items: center;
    justify-content: center;
}

#loading-circle {
    width: 50px;
    height: 50px;
    border: 3px solid rgb(243, 18, 187);
    border-top: rgb(0, 0, 0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#search-choice {
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
}

#search-choice form {
    display: flex;
    gap: 10px;
}

input[type="radio"] {
    transform: scale(1.8);
    margin-right: 10px;
    accent-color: rgb(243, 18, 187);
}

#friend-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#friend-label {
    font-size: 18px;
    color: white;
}

#friend-input {
    font-size: 16px;
    width: 100px;
    height: 30px;
}

#friend-btn {
    border-radius: 20px;
    width: 60px;
    height: 40px;
    background-color: white;
    transition: 300ms ease-in-out;
}

#friend-btn:hover {
    background-color: rgb(243, 18, 187);
    color: white;
}